#page-home {
    height: 100vh;
    background: url('../assets/home-background.svg') no-repeat 35vw bottom;   
}

#page-home .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
}

#page-home header {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-top: 48px;
}

#page-home header a {
    display: flex;
    color: var(--title-color)
}

#page-home header a span {
    height: 20px;
    width: 20px;

    background: url(/assets/log-in.svg) no-repeat;
    margin-right: 16px;
}

#page-home main {
    max-width: 560px;

    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#page-home  main h1 {
    font-size: 48px;
}

#page-home  main p {
    font-size: 24px;
    line-height: 38px;
    margin-top: 24px;
}

#page-home  main a {
    width: 100%;
    max-width: 360px;

    display: flex;
    margin-top: 40px;
    
    background: var(--primary-color);
    border-radius: 8px;

    transition: 400ms;
}

#page-home  main a:hover {
    background: #2fb86e;
}

#page-home  main a strong{
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: #f0f0f5;
}
#page-home  main a span {
    border-radius: 8px 0 0 8px;
    padding: 35px;
    background: rgba(0, 0, 0, 0.08) url(/assets/search.svg) no-repeat 25px;
}