:root {
    --title-color: #322153;  
    --primary-color: #34cb79;
    
    --terciary-color: rgb(66, 168, 98);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 400ms;
}

html {
    font-family: 'Ubuntu', sans-serif;
    /* font-size: 62.5%; */
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased !important;     
}

a {
    text-decoration: none;
    font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

