@media (max-width: 960px) {
    #page-home {
        background-position-x: 75vw;        
    }
    #page-home header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between; 
    }
    #page-home header a {
        position: absolute;
        top: 90vh;
    }
    #page-home main {
        display: flex;
        align-self: center;
        text-align: center;
    }
    #page-home main p {
        font-size: 20px;
    }
    #page-home main a {        
        margin: 20px auto;
    }
}

@media (max-width: 580px) {
    #page-home main h1 {
        font-size: 40px;
    }
    #page-home  main p {
        font-size: 16px;
        margin-top: 18px;
    }
    #page-home  main a {
        width: 70%;
    }
}